/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.filters a {
  background: #eee;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

/* PRODUCT CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

/* CHECKOUT GRID */
#cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

/* CHECKOUT CARD */
.checkout-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.checkout-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

/* BUTTONS */
button {
  padding: 10px;
  margin-top: 10px;
  background: #c55a11;
  color: white;
  border: none;
  border-radius: 6px;
}

.qty-controls button {
  margin: 5px;
}
