<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tinkers Admin</title>
  </head>
  <body>
    <script src="https://unpkg.com/netlify-cms@^2/dist/netlify-cms.js"></script>
  </body>
</html>
.card {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #c55a11;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}
